html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 200px;
    background-color: rgb(157, 216, 255);
    display: flexbox;
    flex-flow: column;
    min-height: 100%;
}

.item {
    width: 200px;
    text-align: center;
    margin-top: 50px;
    height: 100%;
}


.item a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
}

.item a:hover {
    color: #2b2bb2;
    transition: 0.3s;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer{
    bottom: 0;
    text-align: center;
    position: absolute;
    align-items: flex-end;

}

h2 {
    color: crimson;
    text-align: center;
}